/*
 * -------------------------------------------------
 *  Nextflow config file for AWS Batch
 * -------------------------------------------------
 * Imported under the 'awsbatch' Nextflow profile in nextflow.config
 * Uses docker for software depedencies automagically, so not specified here.
 */


params.tracedir = './'

aws {
    region = params.awsregion
    batch {
    	  cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

process {
    cpus = 2
    executor = 'local'
    withName:"artic.*RemoveUnmappedReads|artic.*GuppyPlex"{
        cpus = 1
	memory = 2.GB
	executor = 'awsbatch'
    }
    withName:"artic.*MinIONMedaka"{
        cpus = 4
	memory = 4.GB
	executor = 'awsbatch'
    }
    queue = params.awsqueue
}
