/* Profile configuration used for nf-tower
   This should not be used together with the 'awsbatch' or 'longamp' profile
*/
params {
    awsregion = "ap-southeast-1"
    awsqueue = "artic"
    container = 'lichenhao/ncov2019-artic-nf:gis'
    mail = false
    schemeRepo = 's3://csb5-nextflow-work/ncov-artic-longamp/'
    schemeVersion = 'V1'
    medaka = true
    max_length = 3000
    min_length = 2000
    bwa = false
    normalise = 500
    fast5_pass = './'
    tracedir = 'pipeline_info/'
}

aws {
    region = params.awsregion
    batch {
          cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

process {
    cpus = 1
    memory = 2.GB
    executor = 'awsbatch'
    withName:"artic.*MinIONMedaka"{
	cpus = 4
	memory = 4.GB
    }
    container = params.container
    queue = params.awsqueue
}