params {
    awsregion = "ap-southeast-1"
    awsqueue = "artic"
    container = 'lichenhao/ncov2019-artic-nf:gis'
    mail = false
    medaka = true
    schemeRepo = 's3://csb5-nextflow-work/ncov-artic-longamp/'
    basecalled_fastq = 's3://csb5-nextflow-work/test_reads'
    fast5_pass = './'
    prefix = 'tower_test_run'
    outdir = 's3://ttsh-nanopore-data/artic_bioinformatics_results/'
}